.title-light {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--grey-color);
    margin-bottom: 0px;
}

.title-dark {
    color: var(--black-color);
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
}

.container__gallery {
    max-width: 1440px;
    margin-bottom: 50px;
}

.gallery__img {
    display: flex;
    flex-direction: column;


}

.gal__block {
    display: flex;
    flex-direction: row; 
    gap: 30px;
}

.gallery__img {
    width: 210px;
    gap: 30px;
}